/*--------------------------------Global--------------------------*/
* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Be Vietnam Pro', sans-serif;
}


/*--------------------------------header---------------------------*/
header {
    background-image: url('images/fondo1Color.png'), url('images/fondo1.png');
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    padding: 50px;
    

}

header h2, h1 {
    color: aliceblue;
}

header h1 {
    font-size: 50px;
    word-spacing: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

header h2 {
    background-color: #2F2252;
    padding: 5px;
    width: 10%;
    font-family: 'Roboto', sans-serif;
}

.bannerText {
    width: 60%;
}

/*-------------------------------main-------------------------------*/
.texto-calendar p, .texto-video p {
    padding: 1rem;
}

.texto-calendar{
    display: flex; 
}
.textomain {
    width: 50%; 
    margin: 3rem;
}
.calendar-logo {
    background-color: #eeeeee;
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calendar-logo p {
    color: #2F2252;
}

button {
    background-color: #2F2252;
    color: white;
}

.texto-video {
    background-image: url('images/video.png');
    background-size: cover;
    display: flex;
}
.texto-video div {
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.texto-video p{
    color: white;
}

.Speakertext{
    font-size: 30px;
    text-align: center;
    margin: 2rem;
    color: #2F2252;
}

/*-----------------------------------Footer--------------------------*/
footer {
    display: flex;
    background-color:darkslateblue;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.textofooter2 {
    text-align: end;
    font-size: 11px;
}

.textofooter2 img {
    padding: 0px 0px 5px 0px;
}
